@import './whislist';
@import './checkout';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.total-count{
color: #000;
}
.button {
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 50px;
  width: max-content;
  &:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
}
#go-to-checkout,#delete-all{
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  border: none;
  width: max-content;
  margin: 5px 0;
}
// body{
//   background-color: red;
// }