@import './whislist';
@import './checkout';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.total-count{
color: #000;
}
.button {
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 50px;
  width: max-content;
  &:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
}
header {
  background-color: #000;
  color: #fff;
  nav {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-end{
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .logo {
      font-size: 20px;
      text-transform: uppercase;
      a{
        color: #fff;
      }
    }
    .cart {
      position: relative;
      &:hover #dropdown-cart {
        opacity: 1;
      }
    }
    .cart-box {
      position: relative;
      i {
        font-size: 22px;
      }
      span {
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        background-color: orange;
        border-radius: 50%;
        color: #fff;
        font-weight: 900;
        position: absolute;
        top: -10px;
        left: 20px;
      }
    }
    #dropdown-cart {
      background-color: orange;
      width: max-content;
      padding: 20px;
      margin-top: 20px;
      position: absolute;
      right: -25px;
      transition: 0.6s;
        opacity: 0;
      .cartImage {
        width: 80px;
        height: 80px;
        background-size: cover;
        display: inline-block;
      }
      #productElement {
        padding: 20px 0;
        border-bottom: 1px solid #e5e4e2;
        .cartProduct{
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          gap: 20px;
          .card-body{
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
        }
      }
      #cart-total {
        margin-top: 20px;
      }
    }
  }
}
.products {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  .card {
    width: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    img {
      width: 200px;
    }
    .info {
      font-size: 16px;
      line-height: 20px;
    }
    .price {
      color: orange;
      font-size: 20px;
      font-weight: 900;
    }
  }
}
#go-to-checkout,#delete-all{
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  border: none;
  width: max-content;
  margin: 5px 0;
}
// body{
//   background-color: red;
// }