#checkout {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
#checkout-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  .checkout-item {
    border-top: 1px solid #e6e6e6;
    display: flex;
    gap: 20px;
    padding: 20px 10px;
    align-items: center;
    .checkout-card-body {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: #555;
      .check-col {
        width: 33%;
        text-align: center;
      }
      .product-total-price {
        text-align: end;
      }
      .quantity {
        border: 1px solid #e6e6e6;
        button {
          border: none;
          background: none;
          width: 50px;
          height: 50px;
        }
        span {
          width: 50px;
          height: 50px;
          text-align: center;
          line-height: 50px;
          display: inline-block;
          border-left: 1px solid #e6e6e6;
          border-right: 1px solid #e6e6e6;
        }
      }
    }
    .checkout-image {
      width: 70px;
      img {
        width: 100%;
      }
    }
  }
  .checkout-item:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}
.checkOutHead {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  color: #555;
  margin-top: 30px;
  p {
    width: 25%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
  }
  .checkoutHeadTitle4 {
    text-align: end;
  }
  .checkoutHeadTitle1 {
    width: 55%;
  }
}
.form {
  display: flex;
  justify-content: center;
  .cards-total {
    display: block;
    color: #333;
    border: 1px solid #e4e4e4;
    width: 60%;
    height: max-content;
    padding: 30px 40px 40px;
    font-size: 14px;
    #subtotalprice {
      border-bottom: 1px dashed #e4e4e4;
      padding-bottom: 10px;
    }
    h1 {
      color: #333;
      margin-bottom: 20px;
    }
    .form-div {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      .form-box {
        width: 70%;
      }
    }
    .subtotaltext {
      font-size: 12px;
      margin-bottom: 20px;
      color: #888;
    }
    select {
      width: 100%;
      padding: 7px;
    }
    input,
    #country {
      width: 100%;
      padding: 10px;
      outline: none;
      border: 1px solid #e6e6e6;
    }
    .ubdate-button {
      width: max-content;
      padding: 10px 30px;
      border: 1px solid #e4e4e4;
      border-radius: 25px;
      font-size: 15px;
      transition: all 0.8ms;

      &:hover {
        background-color: rgb(2, 83, 146);
        cursor: pointer;
        color: white;
      }
    }
  }
  .checkoutBtn {
    background-color: #222;
    border: none;
    color: white;
    width: 100%;
    transition: all 0.8ms;
    padding: 10px;
    border-radius: 25px;
    margin-top: 20px ;

    &:hover {
      background-color: rgb(2, 83, 146);
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 992px) {
  #checkout-items {
    .checkout-item {
      padding: 20px;
      gap: 15px;
      .checkout-card-body {
        justify-content: space-around;
        .card-title {
          font-size: 14px;
        }
        .check-col {
          width: max-content;
          .quantity {
            button,
            span {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
