.add-to-whislist {
    border: none;
    background: none;
    width: max-content;
    i {
      color: orange;
      font-size: 22px;
    }
  }
  .whislist {
    flex-direction: column;
  }
  #whislist {
    border: none;
    background: none;
    width: max-content;
    color: #fff;
    font-size: 22px;
  }
  
  #whislist-delete-all {
    width: max-content;
    background-color: #000;
    padding: 5px 10px;
    border: none;
    color: #fff;
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  #whislist-items {
    width: 100%;
    .whislist-product {
      border: 1px solid rgb(229, 231, 235);
      padding: 20px;
      display: flex;
      margin-bottom: 20px;
      gap: 30px;
      img {
        width: 150px;
      }
  
      button {
        width: max-content;
        background-color: #000;
        padding: 5px 10px;
        border: none;
        color: #fff;
        margin-right: 10px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
      .add-to-cart-from-whislist {
        background-color: orange;
      }
      .whislist-card-body {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .quantity {
          display: flex;
          gap: 10px;
          align-items: center;
        }
      }
    }
  }
  